@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  background-image: url("endless-constellation.svg");
  text-align: center;
  margin: 0px;
}

.nav-bar {
  text-align: right;
  font-family: Josefin Sans;
  font-size: 25px;
  font-weight: lighter;
  padding: 2rem;
  background-color: #ede9fe;
  border-bottom-left-radius: 1rem;
}

.link-design {
  color: #be185d;
  margin-left: 15px;
  text-decoration: none;
}

.header {
  font-family: Josefin Sans;
  font-size: 60px;
  color: #f3f4f6;
}

.angles {
  font-size: 20px;
  height: 30px;
  width: 150px;
  border-radius: 0.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#calculate-btn {
  font-size: 20px;
  font-weight: bold;
  background-color: #f9fafb;
  border: none;
  border-radius: 0.3rem;
}

#display-answer {
  padding-top: 3rem;
  font-family: Josefin Sans;
  font-size: 40px;
  font-weight: bold;
  color: #f3f4f6;
}
